.esquerda{
    display: flex;
    flex-direction: row-reverse;
    margin: 5% 6% 5% 6%;
    font-family: cursive ;
}


.direita{
    display: flex;
    flex-direction: row;
    margin: 5% 6% 5% 6%;
    font-family: fantasy 
}

.slide{
    display: inline-flex;
    width: 25%;
    height: 25%;
    margin: 5% 6% 5% 6%;
    flex-direction: row;
}

.textforslide{
    display: inline;
}

.Somos{
    margin: 5%;
}
 
.somos{
    display: flex;
    flex-direction: column;
}

.contato{
    display: flex;
    justify-content: center;
}

.texto{
    text-align: center;
}