{% extends "base.html" %}


{% block title %}Home{% endblock %}

{% block content %}
    <div class="principal">
        <div class="capa">
        <img src="{{url_for('static', filename='capa.png')}}" alt="capa">  
    </div>    
        </div>
        
        <div>
        <h2>Sobre a Universidade</h2>
        <p>Lorem <strong>ipsum dolor</strong> sit amet consectetur adipisicing elit. Perspiciatis debitis vel voluptatum quod a iure ad, officiis id ipsum fugiat nemo asperiores laudantium libero placeat, eum possimus. Dicta, dolores nesciunt!
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi aliquam ducimus, molestiae eligendi asperiores temporibus ad velit voluptatem, inventore quos voluptas voluptates iste! Vel dolorum odio nesciunt. Consectetur, molestiae dolore. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic sint rerum earum iure vel aperiam consectetur quod, aliquid enim autem eligendi, ullam nostrum? Eligendi, pariatur necessitatibus deleniti quidem doloremque laboriosam!</p>
        <p>Lorem <strong>ipsum dolor</strong> sit amet consectetur adipisicing elit. Iure eum magni veritatis beatae iste natus quo similique corrupti autem ab deleniti consectetur, mollitia nulla! Atque sequi suscipit ratione molestiae laudantium!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, et ea dolorum enim officiis soluta, quaerat voluptas molestiae nulla tempora dolores, ipsam omnis doloremque a? Cum nam vitae aliquam consectetur.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quidem, doloremque nihil enim exercitationem illum magnam necessitatibus veritatis officia distinctio et placeat beatae fugiat dolorem nobis dignissimos aspernatur nesciunt temporibus!
        </p>
        </div>



    </div>
{% endblock %}
