{% extends "base.html" %}


{% block title %}Quem Somos{% endblock %}

{% block content %}
    <div class="descricao">
    <h2>Quem Somos</h2> 
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate doloribus placeat facere dolorem nisi blanditiis officia praesentium fuga! Neque vitae dignissimos quaerat quibusdam. Ab soluta ipsam suscipit voluptatibus explicabo. Cumque?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit corrupti voluptas laborum dicta veritatis quis esse accusantium, praesentium fuga quia eos ab distinctio quos repellat ea quaerat modi culpa vero?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam accusantium, nesciunt deserunt modi necessitatibus aspernatur nihil, nemo ducimus vitae ipsa natus totam autem! Nam minus eos impedit amet magni quas!
    </p>   
    </div>
    <div class="lista">
    <h2>5 motivos para estudar</h2>
    <ol>
       <li>Material sempre atualizado</li>
       <li>Tablets em sala de aula</li>
       <li>Professores renomados</li>
       <li>Universidade bem avaliada</li>
       <li>Ótima localização</li>
    </ol>
    </div>
    <hr>
    <div>
    <h2>Objetivos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolor mollitia veritatis modi exercitationem maiores tenetur earum inventore libero eligendi! Odio placeat tempora debitis fugit modi quos, minus fuga tenetur?
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi inventore, numquam debitis molestias at eveniet. Consequuntur molestias, laboriosam tenetur amet ad praesentium recusandae libero, ex distinctio magni deleniti ab minus!
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex sed hic velit quod, perspiciatis quo vero excepturi odio blanditiis nobis magnam dolor natus porro repellat laborum animi atque mollitia sunt.
    </p>
{% endblock %}