{% extends 'base.html' %}

{% block title %}Quem Somos{% endblock %}

{% block content %}

<div class="Somos">
    <h1 class="somos">Somos uma confeitaria que sente</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit vel sit accusamus, vero unde corrupti labore, pariatur accusantium quam mollitia eligendi ea impedit facilis quibusdam atque quas quo assumenda quos. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim laboriosam asperiores accusantium sequi voluptates repellendus odit deserunt facilis ducimus vitae tempora quas quisquam corrupti, doloremque architecto distinctio magni praesentium iste eveniet libero odio quaerat! Iusto beatae fugiat nobis harum possimus, unde quis atque ea excepturi explicabo nam maxime at est eveniet facilis laudantium nisi natus qui? Facilis, provident! Repellendus provident nesciunt quaerat. Reiciendis quibusdam aliquam provident ducimus. Distinctio, odit a! Quis a quisquam pariatur ducimus. Delectus autem odio, nostrum molestiae numquam voluptatibus ullam fuga id architecto, in ut laboriosam iusto tenetur voluptate suscipit nulla a culpa voluptatem doloribus unde minima.</p>

</div>

{% endblock %}